This notebook links demand to parameters_[VEHICLE] tables for all vehicles

- the data is not directly linkable. Instead, fill in pkm directly to parameters table.

In [1]:
import pandas as pd

In [18]:
# import technology data
technology = pd.read_csv(f'./data/technology.csv')
technology

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,10,1,2,4,1,10,1,1980,2000.0,0,6.57,NaN,0,5000.0,1,2.0,10,0,NaN
1,20,1,2,4,12,10,1,1995,2010.0,0,9.51,NaN,2,7000.0,1,2.0,10,0,NaN
2,25,1,2,4,12,11,1,2010,2020.0,0,8.38,NaN,2,6000.0,1,2.0,10,0,NaN
3,26,1,2,4,12,12,1,2020,NaN,0,7.18,NaN,2,5500.0,1,2.0,10,0,NaN
4,30,1,2,4,1,11,1,2000,2010.0,0,5.65,NaN,0,5000.0,1,2.0,10,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,14889,1,5,28,13,13,2,2033,2038.0,0,179.20,1.0,2,14000.0,1,2.5,10,1,NaN
2242,14890,1,5,28,13,13,2,2038,2043.0,0,153.89,1.0,2,12000.0,1,2.5,10,1,NaN
2243,14891,1,5,28,13,13,2,2043,2048.0,0,132.15,1.0,2,12000.0,1,2.5,10,1,NaN
2244,14892,1,5,28,13,13,2,2048,2053.0,0,113.48,1.0,2,12000.0,1,2.5,10,1,NaN
2245,14893,1,5,28,13,13,2,2053,NaN,0,97.45,1.0,2,12000.0,1,2.5,10,1,NaN

In [2]:
# load travel_demand
travel_demand = pd.read_excel(f'./TEAM-Kenya_data_out/Travel_Demand.xlsx')
travel_demand

,ScenarioID,CountryID,PolicyID,Year,Trips_Com,chTrips_Com_Ageing,chTrips_Com_TeleWork,chTrips4dayweek,chTripsComGig,ATL_Com,...,td_all,OR_com,OR_busi,OR_leilong,OR_leiloc,OR_school,OR_shop,OR_pb,OR_other,OR_avg
0,1,9,0,2012,147.123993,1.000000,1.000000,1.000,1.000000,8.900050,...,6607.292969,1.117497,1.098954,2.046046,2.046046,1.914174,1.600436,1.587386,1.536749,1.553013
1,1,9,0,2013,145.859680,0.999591,1.000000,1.000,0.991812,8.771302,...,6637.943848,1.117497,1.098954,2.046049,2.046049,1.914177,1.600437,1.587388,1.536751,1.557800
2,1,9,0,2014,148.197998,0.999079,1.000000,1.000,1.008229,8.697289,...,6508.682617,1.117497,1.098954,2.046050,2.046049,1.914177,1.600437,1.587388,1.536751,1.547847
3,1,9,0,2015,143.379272,0.998720,1.000000,1.000,0.975796,9.116610,...,6654.992676,1.117497,1.098954,2.046050,2.046049,1.914177,1.600437,1.587388,1.536751,1.556540
4,1,9,0,2016,144.197952,0.998413,1.000000,1.000,0.981670,8.971702,...,6615.688965,1.117497,1.098954,2.046049,2.046049,1.914177,1.600437,1.587388,1.536751,1.553172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,1,9,0,2096,123.022781,0.941449,0.927835,0.975,0.981816,8.618203,...,6646.553711,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679334
85,1,9,0,2097,122.999283,0.941269,0.927835,0.975,0.981816,8.618203,...,6647.082031,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679399
86,1,9,0,2098,122.978004,0.941106,0.927835,0.975,0.981816,8.618203,...,6647.561523,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679458
87,1,9,0,2099,122.958557,0.940957,0.927835,0.975,0.981816,8.618203,...,6648.000488,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679512
88,1,9,0,2100,122.940399,0.940818,0.927835,0.975,0.981816,8.618203,...,6648.408691,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679562

In [5]:
# load mode_shares_triplength
mode_shares = pd.read_excel(f'./TEAM-Kenya_data_out/Mode_Shares_TripLength.xlsx')
mode_shares

      ScenarioID  CountryID  PolicyID  Year  triplenID  modeID          td
0              1          9         0  2012          1       1   56.221958
1              1          9         0  2012          1       2    1.273087
2              1          9         0  2012          1       3   12.423084
3              1          9         0  2012          1       4    7.458504
4              1          9         0  2012          1       5    0.038439
...          ...        ...       ...   ...        ...     ...         ...
8539           1          9         0  2100          8       8  221.572479
8540           1          9         0  2100          8       9   60.330936
8541           1          9         0  2100          8      10    3.761879
8542           1          9         0  2100          8      11   14.086174
8543           1          9         0  2100          8      12    2.828112

[8544 rows x 7 columns]

In [9]:
# load parameters tables and write to dict
parameters = {}
vehtype_dict = {'Moto':[2], 'Car':[3], 'Bus':[4], 'Truck':[5], 'Train':[6], 'Ship':[7], 'Plane':[8]}

for vehtype in vehtype_dict:
    parameters[vehtype] = pd.read_excel(f'./TEAM-Kenya_data_out/Parameters_{vehtype.upper()}.xlsx')

In [42]:
parameters['Plane']

,CountryID,TechID,Year,Description,TransTypeID,DemandShareP,AveCapacityP,AveLoadFactorP,AveCapacityF,AveLoadFactorF,CargoFactor,AveNumTrips,AveTripLength,ExpectLife,FailSteep
0,9,4010,2012,Air - Aeroplane - General Aviation - Aviation ...,1,0.002,4,0.65,0,0.0,0,744,250,38,15
1,9,4010,2013,Air - Aeroplane - General Aviation - Aviation ...,1,0.002,4,0.65,0,0.0,0,744,250,38,15
2,9,4010,2014,Air - Aeroplane - General Aviation - Aviation ...,1,0.002,4,0.65,0,0.0,0,744,250,38,15
3,9,4010,2015,Air - Aeroplane - General Aviation - Aviation ...,1,0.002,4,0.65,0,0.0,0,744,250,38,15
4,9,4010,2016,Air - Aeroplane - General Aviation - Aviation ...,1,0.002,4,0.65,0,0.0,0,744,250,38,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5275,9,4322,2096,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,0.000,0,0.79,0,0.0,0,539,6000,38,15
5276,9,4322,2097,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,0.000,0,0.79,0,0.0,0,539,6000,38,15
5277,9,4322,2098,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,0.000,0,0.79,0,0.0,0,539,6000,38,15
5278,9,4322,2099,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,0.000,0,0.79,0,0.0,0,539,6000,38,15
5279,9,4322,2100,Air - Aeroplane - Supersonic - Liquefied Hydro...,1,0.000,0,0.79,0,0.0,0,539,6000,38,15

In [50]:
# load in parameters (NOT the vehicle ones)
para = pd.read_excel(f'./TEAM-Kenya_data_out/Parameters.xlsx')
para

,ScenarioID,CountryID,Year,NHH_GR,PassTransIntensity,FreightTransIntensity,ShDe_PassPrivCar,ShDe_PassPublicTrans,ShDe_PassPlane,ShDe_FreightTransRoad,...,CEDP_Total,CEDP_Car,CEDP_BUS,CEDP_Train,CEDP_Plane,CEDF_Total,CEDF_Truck,CEDF_Ship_i,CEDF_Train,CEDF_Plane
0,1,9,2012,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
1,1,9,2013,2.423965,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
2,1,9,2014,4.554588,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
3,1,9,2015,2.263506,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
4,1,9,2016,2.213406,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,4,9,2096,0.092060,0.0,-0.637048,-0.120949,-3.515552,0.753488,0.083091,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
352,4,9,2097,0.092062,0.0,-0.639966,-0.121092,-3.561816,0.740726,0.083006,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
353,4,9,2098,0.092064,0.0,-0.642883,-0.121235,-3.608080,0.727964,0.082922,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
354,4,9,2099,0.092066,0.0,-0.645801,-0.121377,-3.654344,0.715202,0.082837,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9
355,4,9,2100,0.092069,0.0,-0.648719,-0.121520,-3.700608,0.702440,0.082752,...,0.38,0.595,0.28,0.26,0.704,0.7,0.9,0.9,1.2,0.9

In [53]:
travel_demand

,ScenarioID,CountryID,PolicyID,Year,Trips_Com,chTrips_Com_Ageing,chTrips_Com_TeleWork,chTrips4dayweek,chTripsComGig,ATL_Com,...,td_all,OR_com,OR_busi,OR_leilong,OR_leiloc,OR_school,OR_shop,OR_pb,OR_other,OR_avg
0,1,9,0,2012,147.123993,1.000000,1.000000,1.000,1.000000,8.900050,...,6607.292969,1.117497,1.098954,2.046046,2.046046,1.914174,1.600436,1.587386,1.536749,1.553013
1,1,9,0,2013,145.859680,0.999591,1.000000,1.000,0.991812,8.771302,...,6637.943848,1.117497,1.098954,2.046049,2.046049,1.914177,1.600437,1.587388,1.536751,1.557800
2,1,9,0,2014,148.197998,0.999079,1.000000,1.000,1.008229,8.697289,...,6508.682617,1.117497,1.098954,2.046050,2.046049,1.914177,1.600437,1.587388,1.536751,1.547847
3,1,9,0,2015,143.379272,0.998720,1.000000,1.000,0.975796,9.116610,...,6654.992676,1.117497,1.098954,2.046050,2.046049,1.914177,1.600437,1.587388,1.536751,1.556540
4,1,9,0,2016,144.197952,0.998413,1.000000,1.000,0.981670,8.971702,...,6615.688965,1.117497,1.098954,2.046049,2.046049,1.914177,1.600437,1.587388,1.536751,1.553172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,1,9,0,2096,123.022781,0.941449,0.927835,0.975,0.981816,8.618203,...,6646.553711,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679334
85,1,9,0,2097,122.999283,0.941269,0.927835,0.975,0.981816,8.618203,...,6647.082031,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679399
86,1,9,0,2098,122.978004,0.941106,0.927835,0.975,0.981816,8.618203,...,6647.561523,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679458
87,1,9,0,2099,122.958557,0.940957,0.927835,0.975,0.981816,8.618203,...,6648.000488,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679512
88,1,9,0,2100,122.940399,0.940818,0.927835,0.975,0.981816,8.618203,...,6648.408691,1.132807,1.111848,2.182353,2.182353,2.033296,1.678676,1.663926,1.606691,1.679562

In [52]:
# find out if pkm matches sum total
travel_demand[[c for c in travel_demand.columns if 'Air' in c]]

,MS_Com_Air,chTrips_Busi_Air,chATL_Busi_Air,MS_Busi_Air,MS_LeiLong_Air,MS_LeiLoc_Air,MS_School_Air,MS_Shop_Air,MS_PB_Air,MS_Other_Air
0,0.005967,1.000,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
1,0.005967,1.000,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
2,0.005967,1.000,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
3,0.005967,1.000,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
4,0.005967,1.000,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
...,...,...,...,...,...,...,...,...,...,...
84,0.005967,1.025,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
85,0.005967,1.025,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
86,0.005967,1.025,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
87,0.005967,1.025,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272
88,0.005967,1.025,1,0.014517,0.002505,0.002505,0.001311,0.004726,0.004181,0.000272

In [74]:
purps = ['Com', 'Busi', 'LeiLong', 'LeiLoc', 'School', 'Shop', 'PB', 'Other']
pop = 63.7e6  # uk pop (2012) as in TEAM UK
mpk = 1.60934  # mile to kilometre

mode = 'Bus'

total_pkm = 0
for purp in purps:
    total_pkm += travel_demand[f'MS_{purp}_{mode}'][0] * travel_demand[f'Trips_{purp}'][0] * travel_demand[f'ATL_{purp}'][0] * pop
total_pkm

KeyError: 'MS_Com_Bus'

In [75]:
mode = 'Bus'

mode_shares[(mode_shares.Year == 2012) & (mode_shares.modeID == vehtype_dict[mode][0])].td.sum() * pop * mpk

186897624696.43076