This notebook looks at the uk data to see wtf is going on with numveh, totnumveh, newveh

In [1]:
import pandas as pd

In [3]:
numveh = pd.read_excel(f'./sample_data/Ukdata_led0.xlsx', sheet_name='NumVeh')
totnumveh = pd.read_excel(f'./sample_data/Ukdata_led0.xlsx', sheet_name='TotNumVeh')
newveh = pd.read_excel(f'./sample_data/Ukdata_led0.xlsx', sheet_name='NewVeh')

In [4]:
totnumveh

,CountryID,TransTypeID,VehTypeID,Age,TotNumVeh,TotNumVeh-1,NumVehScrap
0,9,1,2,0,154591.50,150726.70,0.0000
1,9,1,2,1,149652.30,41076.72,1074.3590
2,9,1,2,2,40670.02,176431.40,406.6992
3,9,1,2,3,172955.00,33000.13,3476.3910
4,9,1,2,4,32029.60,215344.80,970.5293
...,...,...,...,...,...,...,...
364,9,2,8,36,0.00,0.00,0.0000
365,9,2,8,37,0.00,0.00,0.0000
366,9,2,8,38,0.00,0.00,0.0000
367,9,2,8,39,0.00,0.00,0.0000
368,9,2,8,40,0.00,0.00,0.0000

In [6]:
numveh

,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,9,10,12,1,2,4,10,1,5126.888000
1,9,10,13,1,2,4,10,1,4341.886000
2,9,10,14,1,2,4,10,1,1695.460000
3,9,10,15,1,2,4,10,1,315.866200
4,9,10,16,1,2,4,10,1,93.856110
...,...,...,...,...,...,...,...,...,...
2405,9,5879,7,2,5,28,6,12,0.008200
2406,9,5880,0,2,5,28,14,12,6.176912
2407,9,5880,1,2,5,28,14,12,4.261423
2408,9,5880,2,2,5,28,14,12,0.484696
2409,9,5880,3,2,5,28,14,12,0.360165

In [7]:
newveh

    CountryID  TransTypeID  VehTypeID  MassCatID     NumNewVeh
0           9            1          2          4  1.545915e+05
1           9            1          3          1  1.022889e+06
2           9            1          3          2  1.034924e+06
3           9            1          3          3  4.847108e+05
4           9            1          4         11  6.282496e+03
5           9            1          4         12  4.530616e+03
6           9            1          4         13  2.671586e+02
7           9            1          6         31  3.150600e+01
8           9            1          6         32  1.730470e+02
9           9            1          6         33  1.820150e+01
10          9            1          6         34  1.577107e+00
11          9            1          8         41  1.439874e+01
12          9            1          8         42  1.466184e+01
13          9            1          8         43  4.656849e+00
14          9            1          8         44  1.457602e+05
15          9            1          8         45  1.203619e+04
16          9            2          5         21  2.155570e+04
17          9            2          5         22  5.483251e+04
18          9            2          5         23  4.316480e+04
19          9            2          5         24  1.140907e+04
20          9            2          5         25  6.121239e+03
21          9            2          5         26  2.609430e+04
22          9            2          5         27  2.478000e+01
23          9            2          5         28  1.370166e+01
24          9            2          6         31  6.488140e+00
25          9            2          6         32  7.385445e-01
26          9            2          6         33  2.253567e+00
27          9            2          7         51  7.512245e-01
28          9            2          7         52  6.488140e+00
29          9            2          7         53  0.000000e+00
30          9            2          8         42  7.385445e-01
31          9            2          8         43  2.253567e+00
32          9            2          8         44  7.512245e-01

In [16]:
transtype, vehtype, age = 1, 2, 1

numveh[(numveh.TransTypeID == transtype) & (numveh.VehTypeID == vehtype) & (numveh.Age == age)].NumVeh.sum()

149652.34219999998

In [15]:
newveh[(newveh.TransTypeID == transtype) & (newveh.VehTypeID == vehtype)].NumNewVeh.sum()

154591.5

Conclusion:
1. the totnumveh column is the same as the numveh (age=0) AND the numnewveh
2. not clear what TotNumVeh-1 or Scrapped is from
3. I have asked Christian