TEAM-Kenya is still in development; the buses and trucks are not yet configured to second-hand imports. Thus, the contingency version is to take the TechIDs in second-hand buses & trucks and assign them to new buses and trucks. preliminary modelling purposes only.

In [54]:
# import dependencies
import pandas as pd

In [55]:
# read output data - existing
vehstock = pd.read_csv(f'./out_data/VehicleStock.csv')
vehstock

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,5,9,70,5,1,3,1,1,1,84.696857
1,6,9,70,6,1,3,1,1,1,169.393714
2,7,9,70,7,1,3,1,1,1,592.878000
3,8,9,70,8,1,3,1,1,1,677.574857
4,9,9,70,9,1,3,1,1,1,931.665429
...,...,...,...,...,...,...,...,...,...,...
3477,8978,9,5603,2,1,2,4,6,1,84.880000
3478,8979,9,5603,3,1,2,4,6,1,63.660000
3479,8980,9,5603,4,1,2,4,6,1,31.830000
3480,8981,9,5603,5,1,2,4,6,1,21.220000
3481,8982,9,5603,6,1,2,4,6,1,53.050000

In [74]:
vehstock_new[(vehstock_new.VehTypeID == 4) & (vehstock_new.TechID > 9000)]

Empty DataFrame
Columns: [Unnamed: 0, CountryID, TechID, Age, TransTypeID, VehTypeID, MassCatID, EngineID, FuelID, NumVeh]
Index: []

In [62]:
# read technology data - check for presence of SHI technologies
technology = pd.read_csv(f'./out_data/Technology.csv')
technology

,Unnamed: 0,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,0,70.0,1.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,0,7.8,NaN,0.0,NaN,1,NaN,14.0,0,"9 fields matched, SecondHandImportFlag, ModeNA..."
1,1,9070.0,1.0,3.0,1.0,1.0,1.0,1.0,NaN,NaN,0,7.8,NaN,0.0,NaN,1,NaN,14.0,1,"9 fields matched, SecondHandImportFlag, ModeNA..."
2,2,90.0,1.0,3.0,1.0,1.0,3.0,1.0,1992.0,NaN,0,7.8,NaN,0.0,NaN,1,NaN,14.0,0,"9 fields matched, SecondHandImportFlag, ModeNA..."
3,3,9090.0,1.0,3.0,1.0,1.0,3.0,1.0,2000.0,NaN,0,7.8,NaN,0.0,NaN,1,NaN,14.0,1,"9 fields matched, SecondHandImportFlag, ModeNA..."
4,4,100.0,1.0,3.0,1.0,1.0,4.0,1.0,1997.0,NaN,0,7.8,NaN,1.0,NaN,1,NaN,14.0,0,"8 fields matched, SecondHandImportFlag, ModeNA..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,319,14801.0,1.0,2.0,4.0,1.0,4.0,1.0,2005.0,NaN,0,6.2,NaN,0.0,NaN,1,NaN,5.0,1,"5 fields matched, SecondHandImportFlag, ModeNA..."
270,320,5802.0,1.0,2.0,4.0,1.0,5.0,1.0,2001.0,NaN,0,6.2,NaN,0.0,NaN,1,NaN,5.0,0,"6 fields matched, SecondHandImportFlag, ModeNA..."
271,321,14802.0,1.0,2.0,4.0,1.0,5.0,1.0,2009.0,NaN,0,6.2,NaN,0.0,NaN,1,NaN,5.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
272,322,5603.0,1.0,2.0,4.0,1.0,6.0,1.0,2006.0,NaN,0,6.2,NaN,0.0,NaN,1,NaN,5.0,0,"5 fields matched, SecondHandImportFlag, ModeNA..."
273,323,14803.0,1.0,2.0,4.0,1.0,6.0,1.0,2014.0,NaN,0,6.2,NaN,0.0,NaN,1,NaN,5.0,1,"5 fields matched, SecondHandImportFlag, ModeNA..."

In [69]:
technology[(technology.VehTypeID == 5) & (technology.SecondHandImportFlag == 1)]

,Unnamed: 0,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
115,119,14200.0,1.0,5.0,3.0,1.0,3.0,2.0,2000.0,NaN,0,12.1,NaN,0.0,NaN,1,NaN,NaN,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
139,151,10520.0,1.0,5.0,22.0,1.0,1.0,2.0,NaN,NaN,0,23.9,NaN,0.0,NaN,1,NaN,NaN,1,"9 fields matched, SecondHandImportFlag, ModeNA..."
141,153,10630.0,1.0,5.0,21.0,2.0,1.0,2.0,NaN,NaN,0,23.9,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
143,155,10530.0,1.0,5.0,22.0,2.0,1.0,2.0,NaN,NaN,0,13.1,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
145,157,14412.0,1.0,5.0,22.0,2.0,3.0,2.0,2000.0,NaN,0,13.1,NaN,0.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
147,159,10570.0,1.0,5.0,22.0,2.0,4.0,2.0,2005.0,NaN,0,13.1,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
149,161,10590.0,1.0,5.0,22.0,2.0,5.0,2.0,2009.0,NaN,0,13.1,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
151,163,10610.0,1.0,5.0,22.0,2.0,6.0,2.0,2014.0,NaN,0,13.1,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
153,169,10615.0,1.0,5.0,22.0,2.0,1.0,2.0,NaN,NaN,0,19.9,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
155,171,14612.0,1.0,5.0,22.0,2.0,3.0,2.0,2000.0,NaN,0,19.9,NaN,0.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
157,173,10660.0,1.0,5.0,22.0,2.0,4.0,2.0,2005.0,NaN,0,19.9,NaN,0.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
159,175,14014.0,1.0,5.0,22.0,2.0,5.0,2.0,2009.0,NaN,0,19.9,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
161,177,10540.0,1.0,5.0,22.0,2.0,6.0,2.0,2014.0,NaN,0,19.9,NaN,1.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
163,183,10616.0,1.0,5.0,22.0,2.0,1.0,2.0,NaN,NaN,0,21.7,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
165,185,14812.0,1.0,5.0,22.0,2.0,3.0,2.0,2000.0,NaN,0,21.7,NaN,0.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
167,187,14013.0,1.0,5.0,22.0,2.0,4.0,2.0,2005.0,NaN,0,21.7,NaN,0.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
169,189,14214.0,1.0,5.0,22.0,2.0,5.0,2.0,2009.0,NaN,0,21.7,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
171,191,10551.0,1.0,5.0,22.0,2.0,6.0,2.0,2014.0,NaN,0,21.7,NaN,1.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
173,197,10617.0,1.0,5.0,22.0,2.0,1.0,2.0,NaN,NaN,0,26.3,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
175,199,10618.0,1.0,5.0,22.0,2.0,3.0,2.0,2000.0,NaN,0,26.3,NaN,0.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
177,201,14213.0,1.0,5.0,22.0,2.0,4.0,2.0,2005.0,NaN,0,33.4,NaN,0.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
179,203,10670.0,1.0,5.0,23.0,2.0,5.0,2.0,2009.0,NaN,0,33.3,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
181,205,10682.0,1.0,5.0,23.0,2.0,6.0,2.0,2014.0,NaN,0,35.3,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
183,207,10640.0,1.0,5.0,23.0,2.0,14.0,2.0,2019.0,NaN,0,41.0,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
185,209,10690.0,1.0,5.0,23.0,2.0,15.0,2.0,2023.0,NaN,0,29.7,NaN,0.0,NaN,1,NaN,8.0,1,"9 fields matched, SecondHandImportFlag, ModeNA..."

In [57]:
# return techIDs for buses + trucks (vehtypeid = 4 and 5)
techs = vehstock[(vehstock.VehTypeID == 4) | (vehstock.VehTypeID == 5)].TechID.unique().tolist()

for techID in techs:
    
    # if the techID minus 9000 is also in TechID, this TechID is a SHI
    if techID - 9000 in vehstock.TechID.tolist():
        
        # return ages present for this TechID 
        ages = vehstock[vehstock.TechID==techID]['Age'].unique().tolist()
        
        for age in ages:
            
            # return number of vehicles for this shi technology at this age
            numveh = vehstock[(vehstock.TechID==techID) & (vehstock.Age==age)].NumVeh.item()
            
            # return index of secondhand technology at this age
            shi_ind = vehstock[(vehstock.TechID==techID) & (vehstock.Age==age)].index.item()
            
            # if age is in the new tech
            if age in vehstock[(vehstock.TechID==techID - 9000)].Age.tolist():
                # return index of new technology at this age to add to
                new_ind = vehstock[(vehstock.TechID==techID - 9000) & (vehstock.Age==age)].index.item()
            else:
                new_ind = vehstock[(vehstock.TechID==techID - 9000) & (vehstock.Age==max(vehstock[(vehstock.TechID==techID - 9000)].Age.tolist()))].index.item()
        
            # add to number to vehicles in the new tech
            vehstock.at[new_ind, 'NumVeh'] += numveh
            
            # take away from number of vehicles in the shi tech (replace with 0)
            vehstock.at[shi_ind, 'NumVeh'] = 0
        
vehstock_new = vehstock[vehstock.NumVeh>0]
vehstock_new

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,5,9,70,5,1,3,1,1,1,84.696857
1,6,9,70,6,1,3,1,1,1,169.393714
2,7,9,70,7,1,3,1,1,1,592.878000
3,8,9,70,8,1,3,1,1,1,677.574857
4,9,9,70,9,1,3,1,1,1,931.665429
...,...,...,...,...,...,...,...,...,...,...
3477,8978,9,5603,2,1,2,4,6,1,84.880000
3478,8979,9,5603,3,1,2,4,6,1,63.660000
3479,8980,9,5603,4,1,2,4,6,1,31.830000
3480,8981,9,5603,5,1,2,4,6,1,21.220000
3481,8982,9,5603,6,1,2,4,6,1,53.050000

In [58]:
vehstock

,Unnamed: 0,CountryID,TechID,Age,TransTypeID,VehTypeID,MassCatID,EngineID,FuelID,NumVeh
0,5,9,70,5,1,3,1,1,1,84.696857
1,6,9,70,6,1,3,1,1,1,169.393714
2,7,9,70,7,1,3,1,1,1,592.878000
3,8,9,70,8,1,3,1,1,1,677.574857
4,9,9,70,9,1,3,1,1,1,931.665429
...,...,...,...,...,...,...,...,...,...,...
3477,8978,9,5603,2,1,2,4,6,1,84.880000
3478,8979,9,5603,3,1,2,4,6,1,63.660000
3479,8980,9,5603,4,1,2,4,6,1,31.830000
3480,8981,9,5603,5,1,2,4,6,1,21.220000
3481,8982,9,5603,6,1,2,4,6,1,53.050000

In [61]:
vehstock_new.NumVeh.sum() == vehstock.NumVeh.sum()

True

In [72]:
vehstock_new[(vehstock_new.VehTypeID == 4) & (vehstock_new.TechID > 9000)]

Empty DataFrame
Columns: [Unnamed: 0, CountryID, TechID, Age, TransTypeID, VehTypeID, MassCatID, EngineID, FuelID, NumVeh]
Index: []

In [73]:
technology[(technology.VehTypeID == 4) & (technology.TechID > 9000)]

,Unnamed: 0,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
187,211,9650.0,1.0,4.0,13.0,10.0,3.0,1.0,2000.0,NaN,0,55.5,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
193,217,9660.0,1.0,4.0,13.0,10.0,6.0,1.0,2014.0,NaN,0,45.5,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
195,219,9651.0,1.0,4.0,13.0,10.0,14.0,1.0,2019.0,NaN,0,45.5,NaN,1.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
197,221,9652.0,1.0,4.0,13.0,10.0,15.0,1.0,2023.0,NaN,0,45.5,NaN,1.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
199,223,9630.0,1.0,4.0,13.0,2.0,1.0,1.0,NaN,NaN,0,32.0,NaN,0.0,NaN,1,NaN,8.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
201,225,9690.0,1.0,4.0,13.0,2.0,3.0,1.0,2000.0,NaN,0,26.0,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
203,227,9720.0,1.0,4.0,13.0,2.0,4.0,1.0,2005.0,NaN,0,25.0,NaN,0.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
205,229,9810.0,1.0,4.0,13.0,2.0,5.0,1.0,2009.0,NaN,0,26.5,NaN,1.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
207,231,9850.0,1.0,4.0,13.0,2.0,6.0,1.0,2014.0,NaN,0,24.5,NaN,1.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
209,237,9695.0,1.0,4.0,13.0,2.0,1.0,1.0,NaN,NaN,0,43.4,NaN,1.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
211,239,9696.0,1.0,4.0,13.0,2.0,3.0,1.0,2000.0,NaN,0,31.5,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
213,241,9697.0,1.0,4.0,13.0,2.0,4.0,1.0,2005.0,NaN,0,35.7,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
215,243,14414.0,1.0,4.0,13.0,2.0,5.0,1.0,2009.0,NaN,0,35.7,NaN,0.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
217,245,9852.0,1.0,4.0,13.0,2.0,6.0,1.0,2014.0,NaN,0,35.7,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
219,251,9698.0,1.0,4.0,13.0,2.0,1.0,1.0,NaN,NaN,0,31.2,NaN,1.0,NaN,1,NaN,8.0,1,"7 fields matched, SecondHandImportFlag, ModeNA..."
221,253,9699.0,1.0,4.0,13.0,2.0,3.0,1.0,2000.0,NaN,0,29.3,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
223,255,9701.0,1.0,4.0,13.0,2.0,4.0,1.0,2005.0,NaN,0,29.3,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
225,257,14614.0,1.0,4.0,13.0,2.0,5.0,1.0,2009.0,NaN,0,29.3,NaN,0.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
227,259,9853.0,1.0,4.0,13.0,2.0,6.0,1.0,2014.0,NaN,0,29.3,NaN,1.0,NaN,1,NaN,8.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."