This workbook takes the technology csv prepared by AEMDA and fills in any missing values based on the TEAM version.

In [21]:
import pandas as pd

In [22]:
# import technology - team kenya complete set
tk_tech = pd.read_excel(f'./sample_data/team_kenya_technology.xlsx')
tk_tech

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag
0,10,1,2,4,1,10,1,1980,2000.0,0,6.571951,NaN,0,5000.0,1,2.0,10,0
1,20,1,2,4,12,10,1,1995,2010.0,0,9.514442,NaN,2,7000.0,1,2.0,10,0
2,25,1,2,4,12,11,1,2010,2020.0,0,8.380919,NaN,2,6000.0,1,2.0,10,0
3,26,1,2,4,12,12,1,2020,NaN,0,7.183646,NaN,2,5500.0,1,2.0,10,0
4,30,1,2,4,1,11,1,2000,2010.0,0,5.645645,NaN,0,5000.0,1,2.0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,14889,1,5,28,13,13,2,2033,2038.0,0,179.200000,1.0,2,14000.0,1,2.5,10,1
2242,14890,1,5,28,13,13,2,2038,2043.0,0,153.890000,1.0,2,12000.0,1,2.5,10,1
2243,14891,1,5,28,13,13,2,2043,2048.0,0,132.150000,1.0,2,12000.0,1,2.5,10,1
2244,14892,1,5,28,13,13,2,2048,2053.0,0,113.480000,1.0,2,12000.0,1,2.5,10,1
2245,14893,1,5,28,13,13,2,2053,NaN,0,97.450000,1.0,2,12000.0,1,2.5,10,1

In [23]:
# import technology - aemda set
aemda_tech = pd.read_csv(f'./out_data/Technology.csv')
aemda_tech

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,70,1,3,1,1,1,1,NaN,NaN,0,7.8,NaN,0,NaN,1,NaN,14.0,0,"8 fields matched, SecondHandImportFlag, ModeNA..."
1,9070,1,3,1,1,1,1,NaN,NaN,0,7.8,NaN,0,NaN,1,NaN,14.0,1,"8 fields matched, SecondHandImportFlag, ModeNA..."
2,90,1,3,1,1,3,1,1992.0,NaN,0,7.8,NaN,0,NaN,1,NaN,14.0,0,"9 fields matched, SecondHandImportFlag, ModeNA..."
3,9090,1,3,1,1,3,1,2000.0,NaN,0,7.8,NaN,0,NaN,1,NaN,14.0,1,"9 fields matched, SecondHandImportFlag, ModeNA..."
4,100,1,3,1,1,4,1,1997.0,NaN,0,7.8,NaN,1,NaN,1,NaN,14.0,0,"8 fields matched, SecondHandImportFlag, ModeNA..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,14801,1,2,4,1,4,1,2005.0,NaN,0,6.2,NaN,0,NaN,1,NaN,5.0,1,"5 fields matched, SecondHandImportFlag, ModeNA..."
274,5802,1,2,4,1,5,1,2001.0,NaN,0,6.2,NaN,0,NaN,1,NaN,5.0,0,"6 fields matched, SecondHandImportFlag, ModeNA..."
275,14802,1,2,4,1,5,1,2009.0,NaN,0,6.2,NaN,0,NaN,1,NaN,5.0,1,"6 fields matched, SecondHandImportFlag, ModeNA..."
276,5603,1,2,4,1,6,1,2006.0,NaN,0,6.2,NaN,0,NaN,1,NaN,5.0,0,"5 fields matched, SecondHandImportFlag, ModeNA..."
277,14803,1,2,4,1,6,1,2014.0,NaN,0,6.2,NaN,0,NaN,1,NaN,5.0,1,"5 fields matched, SecondHandImportFlag, ModeNA..."

In [24]:
# tk_tech.loc[tk_tech[tk_tech.TechID == 70].index.item()]

In [25]:
# aemda_tech.loc[aemda_tech[aemda_tech.TechID == 70].index.item()]

In [26]:
# aemda_tech.loc[aemda_tech[aemda_tech.TechID == 70].index.item()] = tk_tech.loc[tk_tech[tk_tech.TechID == 70].index.item()]

In [27]:
# aemda_tech.loc[aemda_tech[aemda_tech.TechID == 70].index.item()]

In [28]:
for TechID in aemda_tech.TechID.unique():
    aemda_tech.loc[aemda_tech[aemda_tech.TechID == TechID].index.item()] = tk_tech.loc[tk_tech[tk_tech.TechID == TechID].index.item()]

aemda_tech

,TechID,ModeID,VehTypeID,MassCatID,FuelID,EngineID,TransTypeID,Availability,Final_Year,HybridFlag,spec_energ_consump,spec_energ_electric,noise_class,PurchasePrice,ExpectedLifeFactor,Capacity,AveEconLife,SecondHandImportFlag,note
0,70,1,3,1,1,1,1,1980.0,1991.0,0,8.362769,NaN,0,10000.0,1,5.0,12.0,0,NaN
1,9070,1,3,1,1,1,1,1988.0,1999.0,0,8.362769,NaN,0,4000.0,1,5.0,12.0,1,NaN
2,90,1,3,1,1,3,1,1992.0,1995.0,0,7.650982,NaN,0,10000.0,1,5.0,12.0,0,NaN
3,9090,1,3,1,1,3,1,2000.0,2003.0,0,7.650982,NaN,0,4000.0,1,5.0,12.0,1,NaN
4,100,1,3,1,1,4,1,1996.0,1999.0,0,8.115561,NaN,1,10000.0,1,5.0,12.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,14801,1,5,28,1,4,2,2006.0,2009.0,0,15.653940,1.0,0,8400.0,1,2.5,10.0,1,NaN
274,5802,1,5,28,1,5,2,2001.0,2005.0,0,14.095260,NaN,0,21000.0,1,2.5,10.0,0,NaN
275,14802,1,5,28,1,5,2,2009.0,2013.0,0,14.095260,1.0,0,8400.0,1,2.5,10.0,1,NaN
276,5603,1,5,27,1,6,2,2005.0,2009.0,0,12.198950,NaN,0,21000.0,1,2.5,10.0,0,NaN
277,14803,1,5,28,1,6,2,2013.0,2017.0,0,12.075560,1.0,0,8400.0,1,2.5,10.0,1,NaN

In [30]:
aemda_tech.to_csv('./out_data/aemda_technology.csv')